{% extends 'base.html.twig' %}

{% block title %}Sites{% endblock %}

{% block content %}
    <h1>Sites index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Site Name</th>
                <th>Site IP</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
                <td>{{ site.id }}</td>
                <td>{{ site.siteName }}</td>
                <td>{{ site.siteIp }}</td>
                <td>
                    <a href="{{ path('sites_show', {'id': site.id}) }}" class="btn btn-outline-info">show</a>
                    <a href="{{ path('sites_edit', {'id': site.id}) }}" class="btn btn-outline-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sites_new') }}" class="btn btn-outline-info">Create new</a>
{% endblock %}
