{% extends 'base.html.twig' %}

{% block title %}Sites{% endblock %}

{% block content %}
    <h1>Sites</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Site Name</th>
            <th>Site IP</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ site.id }}</td>
                <td>{{ site.siteName }}</td>
                <td>{{ site.siteIp }}</td>
                <td><a href="{{ path('sites_edit', {'id': site.id}) }}" class="btn btn-outline-primary">edit</a></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sites_index') }}">back to list</a>



    {{ include('sites/_delete_form.html.twig') }}
{% endblock %}
