<form method="post" action="{{ path('alarm_types_delete', {'id': alarm_type.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" class="mt-3">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ alarm_type.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
