{% extends 'base.html.twig' %}

{% block title %}Edit Alarm types{% endblock %}

{% block body %}
    <div class="col">
        <h1>Edit Alarm types</h1>

        {{ include('alarm_types/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('alarm_types_index') }}">back to list</a>

        {{ include('alarm_types/_delete_form.html.twig') }}
    </div>
{% endblock %}
