{% extends 'base.html.twig' %}

{% block title %}Alarm types{% endblock %}

{% block body %}
    <h1>Alarm types index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Alarm Name</th>
                <th>Alarm Code</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alarm_type in alarm_types %}
            <tr>
                <td>{{ alarm_type.id }}</td>
                <td>{{ alarm_type.alarmName }}</td>
                <td>{{ alarm_type.alarmCode }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('alarm_types_show', {'id': alarm_type.id}) }}">Show</a>
                    <a class="btn btn-secondary" href="{{ path('alarm_types_edit', {'id': alarm_type.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('alarm_types_new') }}">Create new</a>
{% endblock %}
