{% extends 'base.html.twig' %}

{% block title %}New Alarm type{% endblock %}

{% block body %}
    <div class="col mb-3">
        <h1>Create new Alarm types</h1>

        {{ include('alarm_types/_form.html.twig') }}

        <a href="{{ path('alarm_types_index') }}">back to list</a>
    </div>
{% endblock %}
