{% extends 'base.html.twig' %}

{% block title %}Alarm types{% endblock %}

{% block body %}
    <div class="col">
        <h1>Alarm types</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Alarm Name</th>
                    <th>Alarm Code</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ alarm_type.id }}</td>
                <td>{{ alarm_type.alarmName }}</td>
                <td>{{ alarm_type.alarmCode }}</td>
                <td><a href="{{ path('alarm_types_edit', {'id': alarm_type.id}) }}" class="btn btn-primary">Edit</a></td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('alarm_types_index') }}">back to list</a>
        {{ include('alarm_types/_delete_form.html.twig') }}
    </div>
{% endblock %}
